<h1>@Model.Title</h1>

@Model.Places

@foreach(var place in Model.Places)
{
  <div>
      <h1>@place.Name</h1>
      <h2>@place.Location</h2>
      <p>
          @place.Description
      </p>
  </div>
}